@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.wrapper{
    display: flex;
    gap: 25px;
    margin: 10px 20px;
}
.right img{
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
/* .left h3{
    text-align: center;
} */
.left button {
    background-color: #ff6c6cf1;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.left button a{
    color: white;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    border: .1px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 2px 3px grey;
    padding: 20px;
}
.rev-inp{
    width: 700px;
    height: 40px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px;
    outline: none;
}
.sb-1{
    display: flex;
    gap: 10px;
}
.submit{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #ff6c6cf1;
    color: white;
}
.rating{
    width: 100px;
    border: .1px solid grey;
    outline: none;
    border-radius: 5px;
}
.review{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* dashbord */
.fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 5px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }

  .checked {
    color: orange;
  }